/* Variables*/
:root {
	/* Primary Colors */
	--blue-950: hsl(233, 26%, 24%);
	--green-500: hsl(136, 64%, 51%);
	--cyan-400: hsl(192, 69%, 51%);

	/* Neutral Colors */
	--gray-600: hsl(233, 8%, 62%);
	--gray-100: hsl(220, 16%, 96%);
	--gray-50: hsl(0, 0%, 98%);
	--white: hsl(0, 100%, 100%);
	--menu-gradient: rgba(45, 49, 77, 0.8);

	/* Font sizes */
	--fs-h1: 3.5rem;
	--fs-h2: 2.5rem;
	--fs-h3: 2rem;
	--fs-h4: 1.5rem;
	--fs-body-1: 1.125rem; /* 18px */
	--fs-body-2: 1rem; /* 16px */
	--fs-body-3: 0.875rem; /* 14px */
	--fs-body-4: 0.625rem; /* 10px */

	/* Font Families */
	--ff-serif: 'Public Sans', sans-serif;

	/* Spacing Sizes */
	--spacing-0: 0px; /* 0rem */
	--spacing-100: 8px; /* .5rem */
	--spacing-200: 16px; /* 1rem */
	--spacing-300: 24px; /* 1.5rem */
	--spacing-400: 32px; /* 2rem */
	--spacing-500: 40px; /* 2.5rem */
	--spacing-600: 48px; /* 3rem */
	--spacing-700: 56px; /* 3.5rem */
	--spacing-800: 64px; /* 4rem */
	--spacing-900: 72px; /* 4.5rem */
	--spacing-1000: 80px; /* 5rem */
	--spacing-1500: 120px; /* 7.5rem */

	/* Reset */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		outline: 0.0625rem solid black;
	}

	body,
	h1,
	h2,
	h3,
	p,
	figure,
	picture {
		margin: 0;
	}

	/* set up body */
	body {
		font-family: var(--ff-serif);
		font-size: var(--fs-body-3);
		height: 100vh;
		line-height: 1.5;
		display: grid;
		grid-template-rows: min-content 1fr;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		font-weight: 400;
	}

	a {
		cursor: pointer;
		text-decoration: none;
	}

	picture,
	img {
		max-width: 100%;
		display: block;
	}

	li {
		list-style-type: none;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	/* remove animations for people who've turned them off */
	@media (prefers-reduced-motion: reduce) {
		*,
		*::before,
		*::after {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}

	/*-------------------*/
	/* Utility Classes   */
	/* ------------------*/

	/* general */

	.flex {
		display: flex;
		gap: var(--gap, 16px);
	}
	.flex-row {
		flex-direction: row;
	}

	.flex-column {
		flex-direction: column;
	}
	.flex-jc-ctr {
		justify-content: center;
	}

	.flex-ai-ctr {
		align-items: center;
	}

	.flex-jc-sbtw {
		justify-content: space-between;
	}

	.grid {
		display: grid;
		gap: var(--gap, 16px);
	}

	.d-block {
		display: block;
	}

	.container {
		padding-inline: 2em;
		margin-inline: auto;
		max-width: 1280px;
	}

	/* Colors */

	.bg-dark {
		background-color: var(--blue-950);
	}

	.bg-light {
		background-color: var(--gray-100);
	}

	.bg-white {
		background-color: var(--white);
	}

	.clr-green {
		background-color: var(--green-500);
	}

	.clr-cyan {
		background-color: var(--cyan-400);
	}

	.text-dark {
		color: var(--blue-950);
	}

	.text-gray {
		color: var(--gray-600);
	}

	.text-white {
		color: var(--white);
	}

	/*-------------------*/
	/* Components */
	/* ------------------*/
	.button {
		display: inline-block;
		padding: var(--spacing-100) var(--spacing-400);
		background: linear-gradient(to right, var(--green-500), var(--cyan-400));
		border-radius: 3.125rem;
		border: none;
		color: var(--white);
		font-weight: 700;
		cursor: pointer;
		transition: opacity 0.3s ease;
	}

	.button:hover {
		opacity: 0.7;
	}

	/* Header */

	.header {
		position: relative;
		z-index: 1;
		padding: var(--spacing-300);
	}

	.header__container {
		position: relative;
		padding-top: var(--spacing-300);
		padding-bottom: var(--spacing-300);
	}

	.header__logo {
		width: 8.6875rem;
		height: 1.25rem;
	}

	.header__logo img {
		width: 8.6875rem;
		height: 1.25rem;
	}

	.header__btn {
		display: none;
	}

	/* Navbar */
	.navbar {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding-top: var(--spacing-1000);
		transform: translateX(100%);
		transition: transform 0.3s ease-in-out;
		z-index: 1;
	}

	.navbar.active {
		transform: translateX(0);
	}

	.close-btn {
		display: none;
	}

	/* Footer */

	/* Attribution */
	.attribution {
		font-size: 0.6875rem;
		text-align: center;
	}

	.attribution a {
		color: hsl(228, 45%, 44%);
	}
}
