/* Variables*/
:root {
	/* Primary Colors */
	--blue-950: hsl(233, 26%, 24%);
	--green-500: hsl(136, 64%, 51%);
	--cyan-400: hsl(192, 69%, 51%);

	/* Neutral Colors */
	--gray-600: hsl(233, 8%, 62%);
	--gray-100: hsl(220, 16%, 96%);
	--gray-50: hsl(0, 0%, 98%);
	--white: hsl(0, 100%, 100%);
    --menu-gradient: rgba(45, 49, 77, 0.8);

	/* Font sizes */
	--fs-h1: 56px;
	--fs-h2: 40px;
	--fs-h3: 32px;
	--fs-h4: 24px;
	--fs-body-1: 18px; /* 1.125rem */
	--fs-body-2: 16px; /* 1rem */
	--fs-body-3: 14px; /* .875rem */
	--fs-body-4: 10px; /* .625rem */

	/* Font Families */
	--ff-serif: 'Public Sans', sans-serif;

	/* Reset */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		outline: 0.0625rem solid black;
	}

	body,
	h1,
	h2,
	h3,
	p,
	figure,
	picture {
		margin: 0;
	}

	/* set up body */
	body {
		font-family: var(--ff-serif);
		font-size: var(--fs-body-3);
		color: var(--gray-600);
		background-color: var(--gray-50);
		height: 100vh;
		line-height: 1.5;
		display: grid;
		grid-template-rows: min-content 1fr;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		font-weight: 400;
	}

	a {
		cursor: pointer;
		text-decoration: none;
	}

	picture,
	img {
		max-width: 100%;
		display: block;
	}

	li {
		list-style-type: none;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	/* remove animations for people who've turned them off */
	@media (prefers-reduced-motion: reduce) {
		*,
		*::before,
		*::after {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}

	/* Utility Classes */
	.flex {
		display: flex;
		gap: var(--gap, 16px);
	}
	.flex-row {
		flex-direction: row;
	}

	.flex-column {
		flex-direction: column;
	}
	.flex-jc-ctr {
		justify-content: center;
	}

	.flex-ai-ctr {
		align-items: center;
	}

	.flex-jc-sbtw {
		justify-content: space-between;
	}

	.grid {
		display: grid;
		gap: var(--gap, 16px);
	}

	.d-block {
		display: block;
	}

	.container {
		padding-inline: 2em;
		margin-inline: auto;
		max-width: 1280px;
	}

	/* Button Styles */
	.button {
		display: inline-block;
		padding: 14px 36px;
		background: linear-gradient(to right, var(--green-500), var(--cyan-400));
		border-radius: 3.125rem;
		border: none;
		color: var(--white);
		font-weight: 700;
		cursor: pointer;
		transition: opacity 0.3s ease;
	}

    .button:hover {
        opacity: 0.7;
    }

	/* Header */

    .header {
        position: relative;
        z-index: 1;
        background-color: var(--white);
    }

    .header__container {
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        
    }

    .header__logo {
       with: 8.6875rem;
       height: 1.25rem; 
    }

    .header__menu {
        
    }

    .header__menu.active {
        transform: translateX(0);
    }
	.header__btn {
		display: none;
	}

    
	/* Footer */

	/* Attribution */
	.attribution {
		font-size: 0.6875rem;
		text-align: center;
	}

	.attribution a {
		color: hsl(228, 45%, 44%);
	}
}
