/* Variables*/
:root {
	/* Primary Colors */
	--blue-950: hsl(233, 26%, 24%);
	--green-500: hsl(136, 64%, 51%);
	--cyan-400: hsl(192, 69%, 51%);

	/* Neutral Colors */
	--gray-600: hsl(233, 8%, 62%);
	--gray-100: hsl(220, 16%, 96%);
	--gray-50: hsl(0, 0%, 98%);
	--white: hsl(0, 100%, 100%);

	/* Gradient Colors */
	--gradient-1: linear-gradient(217deg, #33d35e 8.35%, #2ab6d9 97.75%);
	--gradient-2: linear-gradient(180deg, #2d314d 0%, rgba(45, 49, 77, 0) 100%);

	/* Font sizes */
	--fs-h1: 3.5rem;
	--fs-h2: 2.5rem;
	--fs-h3: 2rem;
	--fs-h4: 1.5rem;
	--fs-body-1: 1.125rem; /* 18px */
	--fs-body-2: 1rem; /* 16px */
	--fs-body-3: 0.875rem; /* 14px */
	--fs-body-4: 0.625rem; /* 10px */

	/* Font Families */
	--ff-serif: 'Public Sans', sans-serif;

	/* Reset */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		outline: 1px solid black;
	}

	body,
	h1,
	h2,
	h3,
	p,
	figure,
	picture {
		margin: 0;
	}

	/* set up body */
	body {
		font-family: var(--ff-serif);
		font-size: var(--fs-body-3);
		color: var(--gray-600);
		background-color: var(--gray-50);
		height: 100vh;
		line-height: 1.5;
		display: grid;
		grid-template-rows: min-content 1fr;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		font-weight: 400;
	}

	a {
		cursor: pointer;
		text-decoration: none;
	}

	picture,
	img {
		max-width: 100%;
		display: block;
	}

	li {
		list-style-type: none;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	/* remove animations for people who've turned them off */
	@media (prefers-reduced-motion: reduce) {
		*,
		*::before,
		*::after {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}

	/* Utility Classes */
	.flex {
		display: flex;
		gap: var(--gap, 1rem);
	}
    .flex-row {
        flex-direction: row;
    }

    .flex-column {
        flex-direction: column;
    }
    .flex-jc-ctr {
        justify-content: center;
    }

    .flex-ai-ctr {
        align-items: center;
    }

    .flex-jc-sbtw {
        justify-content: space-between;
    }

	.grid {
		display: grid;
		gap: var(--gap, 1rem);
	}

	.d-block {
		display: block;
	}

	.container {
		padding-inline: 2em;
		margin-inline: auto;
		max-width: 80rem;
	}

	/* Attribution */
	.attribution {
		font-size: 11px;
		text-align: center;
	}

	.attribution a {
		color: hsl(228, 45%, 44%);
	}
}
