/* Variables*/
:root {
	/* Primary Colors */
	--blue-950: hsl(233, 26%, 24%);
	--green-500: hsl(136, 64%, 51%);
	--cyan-400: hsl(192, 69%, 51%);

	/* Neutral Colors */
	--gray-600: hsl(233, 8%, 62%);
	--gray-100: hsl(220, 16%, 96%);
	--gray-50: hsl(0, 0%, 98%);
	--white: hsl(0, 100%, 100%);

	/* Gradient Colors */
	--gradient-1: linear-gradient(217deg, #33d35e 8.35%, #2ab6d9 97.75%);
	--gradient-2: linear-gradient(180deg, #2d314d 0%, rgba(45, 49, 77, 0) 100%);

	/* Font sizes */
	--fs-h1: 3.5rem;
	--fs-h2: 2.5rem;
	--fs-h3: 2rem;
	--fs-h4: 1.5rem;
	--fs-body-1: 1.125rem; /* 18px */
	--fs-body-2: 1rem; /* 16px */
	--fs-body-3: 0.875rem; /* 14px */
	--fs-body-4: 0.625rem; /* 10px */

	/* Font Families */
	--ff-serif: 'Public Sans', sans-serif;

	/* Condensed Universal Reset */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		outline: 1px solid black;
	}

	/* Additional Reset */
	body {
		font-family: var(--ff-serif);
		font-size: var(--fs-body-3);
		color: var(--gray-600);
		background-color: var(--gray-50);
		height: 100vh;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}

	body,
	h1,
	h2,
	h3,
	p,
	figure,
	picture {
		margin: 0;
	}

	a {
		cursor: pointer;
		text-decoration: none;
	}

	picture,
	img {
		display: inline-block;
	}

	li {
		list-style-type: none;
	}

	/* Base Styling */

	/* Attribution */
	.attribution {
		font-size: 11px;
		text-align: center;
	}

	.attribution a {
		color: hsl(228, 45%, 44%);
	}
}
